/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,piajdfajdoif 
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end of CSS reset */

body{

  background: #fff;
  color: black;
  font-family: arial,sans-serif;
  height: 100%;
  margin: 0;
    margin-top: 0; 
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  font: normal;
  font-size: 13px; 
  

}

.nav-bar{
  flex-basis: auto;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
 
  
}

.nav-spacer{
  flex: 1 1 auto;

}
a {
  padding: 16px;
}


.sign-in {
  border: 1px solid #4285f4;
  display: inline-block;
  background-image: -webkit-linear-gradient(top,#4387fd,  #4683ea);
   height: 32px;
   border-radius: 2px;
   font-weight: bold;
   color: #fff;
  line-break: 28px;
  margin: 10px;
  border-color: transparent;
  
}

.google-logo {
  display: block;
  margin: auto;
  margin-top: 128px;

}

form {
  margin: auto;
  width: 482px;
 

}
.seachform {
  width: 100%;

}


